/* .form-material.required .control-label:after {
    content: "*";
    color: red;
} */

.text-red {
    color: red;
}

.form-material {
    position: relative;
    margin: 30px 0 10px !important;
}

.table-responsive {
    border: 0px solid #eee !important;
}

#DataTables_Table_0_wrapper {
    overflow: auto;
}

.margin_bottom {
    margin-bottom: -20%;
}

.btn_export {
    /*margin-left: -5%;*/
    float:right;
}

.btn_flex {
    display: flex !important;
}

.btn_payment {
    white-space: normal !important;
    /* word-wrap: break-word; */
    max-width: 50%;
    margin-right: 2%;
    margin-top: 2%;
}

.btn_installation {
    white-space: normal !important;
    /* word-wrap: break-word; */
    max-width: 100%;
}

.table > tbody > tr > td{
    padding: 0.5em !important;
}
.delInstallationAddress{
    position: absolute;
    right: 4%;
    bottom: 19%;
    z-index: 5;
    color:#d9534f;
    cursor: pointer;
}
table.dataTable{
    font-size:85%;
}
.table-bordered {
    border: 1px solid #eee !important;
}
.customeTbl{
    margin-bottom: 0px !important;
}
/* .modal-content {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    height: 600px !important;
    overflow: auto;
} */
.paymentModalCls{
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    height: 600px !important;
    overflow: auto;
}
.topButtonClass{
    text-align: right;
}
.modal-lg {
    width: 85%;
}
@media (min-width: 320px) and (max-width: 767px) {
    .btn_export {
        padding: 5px;
    }
    .customeTbl{
        margin-bottom: 0px !important;
    }
    .table-responsive {
        width: 100%;
        margin-bottom: 0px !important;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #eee;
    }
    .margin_bottom {
        position: absolute;
        top: 27.5%;
        left: 8%;
    }
    .btn_payment {
        margin-top: 2.5%;
    }
	div.table-responsive>div.dataTables_wrapper>div.row {
		display: flex;
	}
}

@media (min-width: 371px) and (max-width: 400px) {
    .margin_bottom {
        position: absolute;
        top: 26.5%;
        left: 8%;
    }
}

@media (width: 375px) and (height: 812px) {
    .margin_bottom {
        position: absolute;
        top: 21.5%;
        left: 8%;
    }
}

@media (min-width: 411px) and (max-width: 414px) {
    .margin_bottom {
        position: absolute;
        top: 24%;
        left: 8%;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .btn_export {
        margin-left: -49%;
    }
    .btn_payment {
        margin-top: 2.5%;
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .btn_export {
        margin-left: -49%;
    }
    .btn_payment {
        margin-top: 2.5%;
    }
}

@media (min-width: 1800px) and (max-width: 2100px) {
    .btn_export {
        margin-left: 35%;
    }
    .btn_payment {
        margin-top: 1%;
    }
}